
.table-container {
    width: 90%;
    margin: auto;

    .contacts-table {
        width: 100%;
        margin: 2rem 0 0;
    }

    .contacts-pagination {
        margin-bottom: 2rem;
    }

    .contacts-search-form {
        margin-top: 2rem;
    }

    .loading-spinner {
        width: 90%;
        margin: auto;
    }

    .error-message {
        color: red;
        margin-right: 2rem;
        margin-top: 2rem;
        display: block;
    }
}