<div class="create-product-container">
    <mat-card>
        <h1 class="product-create-heading">Create New Contact</h1>
        <div class="upper-row">
            <mat-form-field appearance="fill">
                <mat-label>Access Code</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>City ID</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Contact No.</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Country</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Expense Acc. ID</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="upper-row">
            <mat-form-field appearance="fill">
                <mat-label>Expense Prod. Desc.</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Tax Rate ID</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>EAN </mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Email Attachment Delivery Mode</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Fax</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>ID</mat-label>
                <input matInput>
            </mat-form-field>

        </div>
        <div class="upper-row">
            <mat-form-field appearance="fill">
                <mat-label>Archived</mat-label>
                <mat-select>
                    <mat-option value="true">Yes</mat-option>
                    <mat-option value="false">No</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Customer</mat-label>
                <mat-select>
                    <mat-option value="true">Yes</mat-option>
                    <mat-option value="false">No</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Tax Exempt </mat-label>
                <mat-select>
                    <mat-option value="true">Yes</mat-option>
                    <mat-option value="false">No</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Supplier</mat-label>
                <mat-select>
                    <mat-option value="true">Yes</mat-option>
                    <mat-option value="false">No</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Locale ID</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="upper-row">
            <mat-form-field appearance="fill">
                <mat-label>Org ID</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Phone</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Reg. No. </mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>State ID</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>State Text</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Street</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="upper-row">
            <mat-form-field appearance="fill">
                <mat-label>Type</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Zip ID</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Zip Text </mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Payment Terms Days </mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Payment Terms Mode</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="button-group">
            <button mat-raised-button [disableRipple]="true">Cancel</button>
            <button mat-raised-button [disableRipple]="true" color="primary">Create</button>
        </div>
    </mat-card>
</div>