.create-product-container {
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    text-align: center;

    .upper-row {
        mat-form-field {
            padding-right: 1rem;
            margin-top: 2rem;
        }
    }

    .lower-row {
        mat-form-field {
            padding-right: 1rem;
            margin-bottom: 1rem;
        }
    }

    .product-create-heading{
        text-align: left;
        margin-left: 5rem;
        color: #333333;
    }

    .button-group{
        text-align: right;
        margin-right: 4rem;
        margin-top: 2rem;
        button{
            margin-right: 1rem;
        }
    }

    .loading-spinner {
        width: 90%;
        margin: auto;
    }
}