<div class="create-product-container">
    <mat-card>
        <h1 class="product-create-heading">Create New Product</h1>
        <div class="upper-row">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Product No. </mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="lower-row">
            <mat-form-field appearance="fill">
                <mat-label>Supp. Product No.</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Sales Tax</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Archived</mat-label>
                <mat-select>
                    <mat-option value="true">Yes</mat-option>
                    <mat-option value="false">No</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="button-group">
            <button mat-raised-button [disableRipple]="true">Cancel</button>
            <button mat-raised-button [disableRipple]="true" color="primary">Create</button>
        </div>
    </mat-card>
</div>